@import "../../assets/scss/TransitionGroup.scss";

.show {
    animation: show-item .5s forwards;
}

.hide {
    animation: hide-item .5s forwards;
}

.toTodo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}